<nav>
    <ul class="navbar">
          <li class="nav"><a href="/">Home</a></li>
        <% if (currentUser) { %>
          <li class="nav"><a href="/media">My Media List</a></li>
          <li class="nav"><%= currentUser.username %></li>
            <li class="nav">
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="submit" />
              </form>
            </li>
            <!-- <li><a href="/users/settings/<%=currentUser._id %>">Settings</a></li> -->
            <%} else { %>
              <li class="nav"><a href="users/new">Sign Up</a></li>
              <li class="nav"><a href="sessions/new">Log In</a></li>
                <% } %>
              </ul>
            </nav>
