<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>


<h1>Myflix List<h1>
  <h2>Keep track of the TV shows and movies you're watching </h2>

  <% if (currentUser) { %>
    Welcome <%= currentUser.username %>
      <% } %>

      <a href="/users/userlist">See Users' Lists</a>

      <%- include('../partials/footer.ejs') %>
