<%- include('../partials/header.ejs') %>

<h1>Myflix List<h1>
  <h2>Keep track of the TV shows and movies you're watching </h2>

<a href="/media">My Media</a>

  <%- include('../partials/footer.ejs') %>
