<%- include('../partials/header.ejs') %>

<div class="center">
        <h1>User Sign In Page</h1>
        <form action="/sessions" method="POST">
            Username: <input type="text" name="username" /><br/>
            Password: <input type="password" name="password" /><br/>
            <input type="submit" name="" value="User sign in" class="btn btn-danger"/>
        </form>
</div>

<%- include('../partials/footer.ejs') %>
