<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

        <h1>Delete Account</h1>
        <form action="/users/settings/<%= user.id %>?_method=DELETE" method="POST">
        <p> <input type="submit" value="DELETE"/> </p>

  <%- include('../partials/footer.ejs') %>
