<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>List of Users</h1>
        <ul>
          <% for(let i = 0; i < users.length; i++){ %>
            <li>
              <h2> <%= users[i].username %> </h2>
            </li>
            <% } %>
          </ul>
    </body>
</html>
